{% extends "base.html.twig" %}

{% block content %}
    <h1 class="title is-4 has-text-uppercase">Admin: {{ rfc.title }}</h1>

    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    {% form_theme form 'bulma_form_theme.html.twig' %}
                    {{ form(form) }}

                    <ul class="mt-4">
                    {% for vote in rfc.votes %}
                        <li>{{ vote.question }} {% if not vote.hide %}[Hide]{% endif %}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
