{% extends "base.html.twig" %}

{% block content %}
<div class="flex">
    <div class="w-full md:w-1/2 mx-auto p-2">
        <p class="mb-8">
            We sent semi-automated updates whenever an RFC is accepted
            or rejected by voting. Stop with the constant refresh of
            the PHP RFC Watch website and just get notified whenever a
            vote closes. In addition we also sent updates about PHP
            major releases and all the new features included.
        </p>

        <p>You have successfully subscribed to the PHP RFC Watch Notifications.</p>
    </div>
</div>
{% endblock %}
