{% extends "base.html.twig" %}

{% block content %}
<p class="mb-4 has-text-centered">
    <small>
        <a class="underline" href="{{ path('notify') }}">Subscribe to RFC vote notifications</a>
    </small>
</p>

<div class="column is-three-fifths is-offset-one-fifth">
    {{ include('Default/rfcs.html.twig', {title: "Currently Active RFCs", rfcs: activeRfcs, logged_in: logged_in}) }}

    {% for phpVersion, rfcs in otherRfcs %}
        {{ include('Default/rfcs.html.twig', {title: "Accepted RFCs for PHP " ~ phpVersion, rfcs: rfcs, logged_in: logged_in}) }}
    {% endfor %}

    {{ include('Default/rfcs.html.twig', {title: "Rejected RFCs", rfcs: rejectedRfcs, logged_in: logged_in}) }}
</div>

{% endblock %}
