{% extends "base.html.twig" %}

{% block content %}
<p class="mb-4 text-center">
    <small>
        <a class="underline" href="{{ path('notify') }}">Subscribe to RFC vote notifications</a>
    </small>
</p>

{% import 'Default/rfc_macros.html.twig' as rfcs %}
<div>
    {{ rfcs.rfc_list("Currently Active RFCs", activeRfcs, logged_in) }}

    {% for phpVersion, rfcs in otherRfcs %}
        {{ rfcs.rfc_list("Accepted RFCs for PHP " ~ phpVersion, rfcs, logged_in) }}
    {% endfor %}

    {{ rfcs.rfc_list("Rejected RFCs", rejectedRfcs, logged_in) }}
</div>

{% endblock %}
