{% extends "base.html.twig" %}

{% block content %}
<p class="mb-4 text-center">
    <small><a class="underline" href="{{ path('notify') }}">Subscribe to RFC vote notifications</a></small>
</p>

<div id="app"></div>
{% endblock %}
