{% extends "base.html.twig" %}

{% block content %}
<div class="flex">
    <div class="w-full md:w-1/2 mx-auto pd-2">
        <p class="mb-8">
            We sent semi-automated updates whenever an RFC is accepted
            or rejected by voting. Stop with the constant refresh of
            the PHP RFC Watch website and just get notified whenever a
            vote closes. In addition we also sent updates about PHP
            major releases and all the new features included.
        </p>

        <p class="mb-8">We have sent you a confirmation e-mail to your e-mail address.
        Please open up your e-mail inbox and look for an e-mail with the subject:</p>

        <pre class="mb-8"><code>PHP RFC Watch Updates: Please confirm your subscription</code></pre>

        <p>You must click on the confirmation link inside to complete the process.</p>
    </div>
</div>
{% endblock %}
