{% if rfcs|length > 0 %}
    <div>
        <h2 id="{{ title }}" class="title is-3 mb-4 mt-6 p-2 is-uppercase rfc-list-header">
            {{ title }}
            <a href="#{{ title }}" class="rfc-anchor has-text-grey ml-4">¶</a>
        </h2>

        <div class="rfc-list  mb-10">
            {% for rfc in rfcs %}
                {{ include('Default/rfc.html.twig', {rfc: rfc, logged_in: logged_in}) }}
            {% endfor %}
        </div>
    </div>
{% endif %}
