{% extends "base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md">
        <p>
            We have unsubscribed you from the PHP RFC Watch Notifications.
        </p>
    </div>
</div>
{% endblock %}
