{% extends "base.html.twig" %}

{% block content %}
<div class="flex">
    <div class="w-1/2 mx-auto">
        <p>
            We have unsubscribed you from the PHP RFC Watch Notifications.
        </p>
    </div>
</div>
{% endblock %}
