{% extends "base.html.twig" %}

{% block content %}
    <p class="mb-4 text-center">
        <small>
            <a class="underline" href="{{ path('notify') }}">Subscribe to RFC vote notifications</a>
        </small>
    </p>

    {% import 'Default/rfc_macros.html.twig' as rfcs %}

    <div class="flex justify-center">
        {{ rfcs.rfc(rfc, logged_in) }}
    </div>

{% endblock %}
