@import '~bootstrap/scss/bootstrap.scss';

nav {
    .sponsored-by {
        a {
            font-size: 10pt;
            color: #fff;
        }
    }
}

main {
    margin-top: 20px;
    flex: 1;
    min-height: 85vh;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    h1 {
        a {
            color: #000;
            text-decoration: none;

            &:hover {
                color: #000;
            }
        }
    }

    #app {
        .card-columns {
            column-count: 2;
        }
        @media (max-width: 576px) {
            .card-columns {
                column-count: 1;
            }
        }
    }
}

footer {
    text-align: center;
    color: #999;
}

.card-header a {
    text-decoration: none;
    font-weight: bold;
}
.meta {
    color: #666666;
    font-size: 10pt;
}