@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.rfc-list > :nth-child(2n + 1) { order: 1; } /* 1st column */
.rfc-list > :nth-child(2n + 2) { order: 2; } /* 2nd column */

.rfc-list > :nth-child(-n + 2) {
  page-break-before: always; /* CSS 2.1 syntax */
  break-before: always;  /* New syntax */
}

.rfc-list-header > .rfc-anchor {
  display: none;
}

.rfc-list-header:hover > .rfc-anchor {
  display: inline;
}
