<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>PHP RFC Watch</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link type="application/atom+xml" rel="alternate" href="/atom.xml" />
    </head>
    <body class="bg-gray-200">
        <nav class="flex flex-wrap bg-gray-800 p-2">
            <div class="text-xs text-white">
                <a target="_blank" href="https://tideways.com?pk_campaign=rfcwatch">PHP RFC Watch is sponsored by <img class="h-4 inline-block" src="/tideways.png" /> Tideways <span class="d-none d-lg-inline">- Profiling, Monitoring and Exception Tracking for PHP</span></a>
            </div>
        </nav>

        <main>
            <div class="container mx-auto">
                <div class="row mb-2">
                    <div class="col-sm">
                        <h1 class="text-center"><a class="text-4xl" href="/"><img class="h-10 inline-block" src="/php.svg"> RFC Watch</a></h1>
                    </div>
                </div>

                {% for message in app.flashes('info') %}
                    <div class="rounded-md bg-blue-50 p-4">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <!-- Heroicon name: solid/information-circle -->
                                <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3 flex-1 md:flex md:justify-between">
                                <p class="text-sm text-blue-700">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}

            </div>
        </main>

        <footer class="mt-10">
            <div class="w-full text-center text-sm text-gray-800">
                Built by <a href="https://tideways.com">Tideways.com</a> |
                <a href="https://github.com/beberlei/php-rfc-watch">Github</a> |
                <a href="/atom.xml">Atom Feed</a> |
                <a href="https://tideways.com/imprint">Imprint</a> |
                <a href="https://tideways.com/tos">Terms Of Service</a> |
                <a href="https://tideways.com/privacy">Privacy Policy</a>
            </div>
        </footer>

        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
