<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>PHP RFC Watch</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link type="application/atom+xml" rel="alternate" href="/atom.xml" />
    </head>
    <body class="has-background-light">
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <a target="_blank" href="https://tideways.com?pk_campaign=rfcwatch" class="has-text-white">
                        PHP RFC Watch is sponsored by <img class="image is-16x16 is-inline-block" src="/tideways.png" /> Tideways 
                        <span class="is-hidden-touch">- Profiling, Monitoring and Exception Tracking for PHP</span>
                    </a>
                </div>
            </div>
        </nav>

        <main class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="has-text-centered">
                        <a class="is-size-1" href="/">
                            <img class="image is-32x32 is-inline-block" src="/php.svg"> RFC Watch
                        </a>
                    </h1>
                </div>
            </div>

            {% for message in app.flashes('info') %}
                <div class="notification is-info">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <span class="icon is-medium">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                            </div>
                            <div class="level-item">
                                <p class="is-size-7">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </main>

        <footer class="mt-10">
            <div class="w-full text-center text-sm text-gray-800">
                Built by <a href="https://tideways.com">Tideways.com</a> |
                <a href="https://github.com/beberlei/php-rfc-watch">Github</a> |
                <a href="/atom.xml">Atom Feed</a> |
                <a href="https://tideways.com/imprint">Imprint</a> |
                <a href="https://tideways.com/tos">Terms Of Service</a> |
                <a href="https://tideways.com/privacy">Privacy Policy</a>
            </div>
        </footer>
    </body>
</html>
