<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>PHP RFC Watch</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link type="application/atom+xml" rel="alternate" href="/atom.xml" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="sponsored-by">
                <a target="_blank" href="https://tideways.com?pk_campaign=rfcwatch">PHP RFC Watch is sponsored by <img width="16" height="16" src="/tideways.png" /> Tideways <span class="d-none d-lg-inline">- Profiling, Monitoring and Exception Tracking for PHP</span></a>
            </div>
        </nav>

        <main>
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm">
                        <h1 class="text-center"><a href="/"><img height="40" src="/php.svg"> RFC Watch</a></h1>
                    </div>
                </div>

                {% block content %}{% endblock %}

            </div>
        </main>

        <footer class="container-fluid bg-faded">
            <div class="row">
                <div class="col-sm">
                    Built by Tideways.com |
                    <a href="https://github.com/beberlei/php-rfc-watch">Github</a> |
                    <a href="/atom.xml">Atom Feed</a> |
                    <a href="https://tideways.com/imprint">Imprint</a> |
                    <a href="https://tideways.com/tos">Terms Of Service</a> |
                    <a href="https://tideways.com/privacy">Privacy Policy</a>
                </div>
            </div>
        </footer>

        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
