.vote-results .progress-bar {
    height: 4px;
    vertical-align: top;
    display: inline-block;
}
.vote-results {
    height: 4px;
    line-height: 4px;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0
}
