.vote-results {
    height: 4px;
    line-height: 4px;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0;
}

.vote-results .progress-bar {
    height: 4px;
    vertical-align: top;
    display: inline-block;
}

.vote-results .progress-bar:first-of-type {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.vote-results .progress-bar:last-of-type {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.timeline-item .fa-clock-o {
    margin-right: 4px;
}

.gratipay-button {
    font: normal 9pt/9pt Lato, sans-serif;
    text-decoration: none;
    display: inline-block;

    -moz-border-radius: 3pt;
    -webkit-border-radius: 3pt;
    -o-border-radius: 3pt;
    -ms-border-radius: 3pt;
    -khtml-border-radius: 3pt;
    border-radius: 3pt;

    color: white;
    border: 1px solid #0A382E;

    background: #2A8F79 url(http://grtp.co/v1/widgets/button-bg.png) repeat-x bottom left;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2A8F79), to(#0D4035));
    background-image: -moz-linear-gradient(top, #2A8F79, #0D4035);
    background-image: linear-gradient(top, #2A8F79, #0D4035);

    padding: 2pt 5pt 2.6pt;
    margin: 0;
    vertical-align: middle;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}

.gratipay-button:hover, .gratipay-button:focus {
    border: 1px solid #0A382E;
    background-image: url(http://grtp.co/v1/widgets/button-bg.over.png);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2A8F79), to(#04221B));
    background-image: -moz-linear-gradient(top, #2A8F79, #04221B);
    background-image: linear-gradient(top, #2A8F79, #04221B));
}

.gratipay-button:active {
    -moz-box-shadow: 0 .33em 1em rgba(0,0,0,.67) inset, 1px 1px 0 rgba(255,255,255,.25) inset, -1px -1px 0 rgba(255,255,255,.25) inset;
    -webkit-box-shadow: 0 .33em 1em rgba(0,0,0,.67) inset, 1px 1px 0 rgba(255,255,255,.25) inset, -1px -1px 0 rgba(255,255,255,.25) inset;
    box-shadow: 0 .33em 1em rgba(0,0,0,.67) inset, 1px 1px 0 rgba(255,255,255,.25) inset, -1px -1px 0 rgba(255,255,255,.25) inset;
}
